.main {
  background: url('../assets/login_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.main::before {
  -webkit-backdrop-filter: blur(
    5px
  ); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(3px) brightness(100%) contrast(60%); /* Supported in Chrome 76 */
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.heading {
  width: 100vw;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button {
  margin-top: 120px;
  width: 80%;
}
