.main {
  background: url('../assets/login_bg.jpg') no-repeat center center fixed #000;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.heading {
  width: auto;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Leckerli One';
  margin: auto;
}

.subHeading {
  font-family: 'Poppins';
}

.button {
  width: 250px;
  height: 40px;
  background-color: #333333;
  color: #fff6ee;
  margin-top: 80px;
  cursor: pointer;
}
