@import '~antd/dist/antd.css';
* {
  font-family: 'Poppins';
}

.ant-carousel .slick-dots li button {
  background: #000000;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #000000;
}

.ant-carousel .slick-slide {
  height: 300px;
  overflow: hidden;
  background: #333333;
}
