@import '~antd/dist/antd.dark.css';
@import '~react-image-gallery/styles/css/image-gallery.css';
* {
  font-family: 'Poppins';
}

.ant-carousel .slick-slide {
  height: 250px;
  overflow: hidden;
  background: #333333;
}
