@import '~antd/dist/antd.dark.css';
@import '~react-image-gallery/styles/css/image-gallery.css';

* {
  font-family: 'Poppins';
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel .slick-slide {
  height: 250px;
  overflow: hidden;
  background: #333333;
}
